<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>note to self</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">記録管理アプリ</h2>
        <h1 class="title">note to self</h1>
        <p class="description">
            note to self は好きなものを記録していくサービスです。
            <br>
            読んだ本、観た映画、行ったカフェ、覚えたギターコードなど
        </p>
        <a class="index-button" href="/index">My notes</a>
      </div>
      <div class="top-image">
        <img src="/images/photo_jidori.png">
        
      </div>
    </div>
  </body>
</html>